.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-link {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  color: #427eff;
  text-decoration: none;
  border: 1px solid #427eff;
  border-radius: 40px;
}

.App-link:hover {
  background-color: #427eff;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
